<footer class="site-footer">
  <div class="footer-links">
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms</a>
    <a href="/refund">Refund</a>
     <a href="/shipping-policy">Shipping</a>
     <a href="/contact-us">Contact</a>
  </div>
  <p class="footer-bottom">© <%= new Date().getFullYear() %> All rights reserved.<strong> Aman Show.</strong></p>
 <div class="razorpay-thanks-msg"><a href="https://razorpay.com">Powered by Razorpay</a></div>

</footer>
