<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("../partials/header") %>

<main class="policy-page">
  <div class="policy-container">
    <h1>📬 Contact Us</h1>
    <p>If you have questions, concerns, or need help with a payment, contact us:</p>
    <ul>
      <li><strong>Email:</strong> amanshow9800@gmail.com</li>
      <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/aman-kumar-show-a5589b290/">LinkedIn Profile</a></li>
         <li><strong>Github:</strong> <a href="https://github.com/amanshow24">Github Profile</a></li>
      <li><strong>Address:</strong> Kolkata, WB, India</li>
    </ul>
  </div>
</main>

  <%- include("../partials/footer") %>
</body>
</html>
